<ion-header>
  <ion-toolbar>
    
    <ion-title>
       <ion-icon name="logo-octocat"></ion-icon>
        Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="posts.length > 0" >
   <ion-card *ngFor="let post of posts">
      <ion-card-header>
        <ion-card-title>{{post.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <div>
              {{post.body}}
          </div>
      </ion-card-content>
 
      <app-commentbox postid="{{post.id}}"></app-commentbox>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>


  <!-- Skeleton screen -->
  <div *ngIf="posts.length == 0" >
      <ion-card>
      <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </div>
      </ion-card>
      <ion-card>
      <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </div>
      </ion-card>
      <ion-card>
      <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </div>
      </ion-card>
      <ion-card>
      <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </div>
      </ion-card>                              
  </div>


</ion-content>
